.page-content {
  width: rem(710px);
  float: right;

  @include laptop {
    width: 100%;
    float: none;
  }
}
.about {
  @extend %clearfix;
}
.about__left {
  width: rem(290px);
  float: left;
  @include laptop {
    text-align: center;
  }
  @include tablet {
    width: rem(215px);
  }
  @include phone {
    width: 100%;
    margin-bottom: 15px;
  }
}

.ic-github {
  width: rem(50px);
  height: rem(50px);
  background-image: url("/images/github.svg");
}
.about__pic {
  overflow: hidden;
  border-radius: 50%;
  border: rem(5px) solid #fff;
  display: inline-block;
  width: rem(220px);
  height: rem(220px);
  @include tablet {
    width: 180px;
    height: 180px;
  }
  @include phone {
    width: 220px;
    height: 220px;
  }
}
.about__pic-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.about__right {
  width: rem(390px);
  float: right;
  @include laptop {
    width: rem(450px);
  }
  @include tablet {
    width: 335px;
  }
  @include phone {
    width: 100%;
  }
}

.title {
  font-size: rem(35px);
  color: $black;
  margin-bottom: rem(25px);
  font-weight: 500;
  @include laptop {
    font-size: rem(30px);
  }
}
.about__desc {
  margin-bottom: rem(50px);
  height: rem(350px);
  overflow: auto;
  p {
    font-size: rem(18px);
    color: #646464;
    margin-top: 0;
    margin-bottom: rem(15px);
    font-weight: 300;
  }
}

.about__download {
  text-align: right;
}

.about__download-link {
  border: 2px solid $red;
  border-radius: 50px;
  display: inline-block;
  color: $red;
  text-decoration: none;
  padding: rem(9px) rem(12px);
  font-size: rem(14px);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #fff;
    background-color: $red;
    transition: 0.3s;
  }
}

.about__download-link-dowload {
  &:before {
    font-family: "FontAwesome";
    content: "\f019";
  }
}

.about .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: $blue;
  height: rem(130px);
}

.about .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: $blue;
}
.about .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: $blue;
  height: rem(130px);
}
.about .mCSB_scrollTools .mCSB_draggerRail {
  background: #f6f6f6;
}
