.footer {
  background: $black;
  @extend %clearfix;
  @include xs {
    height: auto;
  }
}
.footer__left {
  float: left;
  width: 50%;
  @include tablet {
    width: 70%;
  }
  @include xs {
    width: 100%;
    text-align: center;
  }
}

.copyright {
  color: #9c9c9c;
  font-size: rem(14px);
  @include inlineblock(middle);
  font-weight: 300;
  padding: rem(15px) 0;
}

.footer__right {
  float: right;
  width: 50%;
  text-align: right;
  @include tablet {
    width: 30%;
  }
  @include xs {
    width: 100%;
  }
}
.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include xs {
    justify-content: center;
    margin-bottom: 10px;
  }
}
.socials__item {
  list-style: none;
  margin-right: rem(10px);
  margin-top: rem(8px);
  &:last-child {
    margin-right: 0;
  }
}
.socials__link {
  opacity: 0.7;
  &:hover {
    transition: 0.3s;
    opacity: 1;
  }
}

.socials__link-img {
  width: rem(35px);
  height: rem(35px);
}
