.portfolio__list {
  @extend %clearfix;
  margin: 0 rem(-10px);
  list-style: none;
}

.portfolio__item {
  float: left;
  width: 33.3%;
  @include laptop {
    width: 32%;
    display: inline-block;
    float: none;
  }
  @include tablet {
    width: 45%;
  }
  @include phone {
    width: 48%;
  }
  @include xs {
    width: 100%;
    text-align: center;
  }
}

.portfolio__pic-img {
  display: block;
  max-width: rem(211px);
  max-height: rem(99px);

  @include xs {
    max-width: 100%;
    max-height: 100%;
  }
}
.portfolio__link {
  margin: rem(10px);
  display: inline-block;
  @include box-shadow(0 1px 3px 0 rgba(#000, 0.2));
  border-radius: rem(10px);
  overflow: hidden;
  text-decoration: none;

  &:hover {
    box-shadow: (0 4px 8px rgba(#000, 0.2));
  }
}
.portfolio__desc {
  background: #fff;
  padding: rem(15px);
  max-width: rem(211px);
  max-height: rem(128px);

  @include xs {
    max-width: 100%;
    max-height: 100%;
  }
  @include xxs {
    text-align: left;
  }
}
.portfolio__desc-title {
  font-weight: 400;
  font-size: rem(21px);
  color: $blue;
  @include tablet {
    font-size: 18px;
  }

  &:hover {
    color: $red;
    transition: 0.3s;
  }
}
.portfolio__desc-text {
  font-weight: 500;
  font-size: rem(14px);
  color: $green;
  margin-bottom: rem(5px);
}

.portfolio__desc-desktop,
.portfolio__desc-tablet,
.portfolio__desc-mobile {
  color: #aeaeae;
  font-size: rem(11px);
  font-weight: 700;

  &:before {
    font-family: "FontAwesome";
    content: "\f108";
    font-size: rem(11px);
    margin: 0 rem(5px);
  }
}
.portfolio__desc-tablet {
  &:before {
    font-family: "FontAwesome";
    content: "\f10a";
    font-size: rem(11px);
  }
}
.portfolio__desc-mobile {
  &:before {
    font-family: "FontAwesome";
    content: "\f10b";
    margin: 0 rem(5px);
  }
}
