.content {
  .container {
    @extend %clearfix;
  }
}
.sidebar {
  width: rem(220px);
  float: left;
  @include laptop {
    width: 100%;
    float: none;
    margin-bottom: rem(35px);
  }
}
.nav__item {
  @include laptop {
    display: inline-block;
    vertical-align: middle;
  }
}
.nav__list {
  list-style: none;
  @include xs {
    text-align: center;
  }
}

.nav__link {
  display: block;
  padding: rem(10px) rem(20px) rem(10px) 0;
  text-align: right;
  border-right: 5px solid transparent;
  font-size: rem(18px);
  text-decoration: none;
  color: $black;
  font-weight: 400;
  list-style: none;
  &:hover {
    color: $blue;
    transition: 0.3s;
  }
}
.nav__link_active {
  color: $blue;
  border-color: $blue;
  font-weight: 700;

  @include laptop {
    border: 0 none;
  }
}

.nav__link_user-secret {
  &:before {
    font-family: "FontAwesome";
    content: "\f21b";
    @include xs {
      display: none;
    }
  }
}
.nav__link_rocket {
  &:before {
    font-family: "FontAwesome";
    content: "\f135";
    @include xs {
      display: none;
    }
  }
}
.nav__link_briefcase {
  &:before {
    font-family: "FontAwesome";
    content: "\f0b1";
    @include xs {
      display: none;
    }
  }
}
